

<div class="flex h-[10vh] md:h-[15vh] justify-center items-center">
    <p class="text-subtle text-base md:text-xl">
        Developed by <span class="text-accent">victor halim</span>
    </p>
</div>